# Node modules
node_modules/

# Environment variables
.env
.env.*

# Logs
logs
*.log
npm-debug.log*

# Build folders
dist/
build/

# Vite
.vite/

# Coverage
coverage/

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Runtime
*.pid

backend/uploads/